{% extends "layouts/form-journey.njk" %}

{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t("check-your-answers:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: t('error:summary.h1'),
      descriptionText: t(error)
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ t("check-your-answers:pageTitle") }}</h1>

  <div class="print-only" id="cya-print-warning">
    <p class="govuk-body govuk-!-font-weight-bold">
      {{ t("check-your-answers:print.warningOnlyCopy") }}
    </p>
    <p class="govuk-body govuk-!-font-weight-bold">
      {{ t("check-your-answers:print.warningNotSubmitted") }}
    </p>
  </div>

  {% for section in sections %}
    <h2 class="govuk-heading-l">{{ section.heading }}</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-6',
      rows: section.rows
    }) }}
  {% endfor %}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="print-hidden">
    <h2 class="govuk-heading-m">{{ t("check-your-answers:print.heading") }}</h2>
    <p class="govuk-body">
      {{ t("check-your-answers:print.body") }}
    </p>
    <p class="govuk-body">
      {{ govukButton({
        classes: "govuk-button--secondary",
        element: "button",
        text: t("check-your-answers:print.buttonLabel"),
        attributes: {
          "data-pc-module": "pc-print-button"
        }
      }) }}
    </p>

    <h2 class="govuk-heading-l">{{ t("check-your-answers:declaration.heading") }}</h2>
    <ul class="govuk-body">
      {{ t("check-your-answers:declaration.bullets_html") | safe }}
    </ul>
    <p class="govuk-body govuk-!-font-weight-bold">
      {{ t("check-your-answers:declaration.information") }}
    </p>
  </div>
{% endblock %}

{% block journey_button %}
  {{ govukButton({
    text: formButtonText,
    attributes: {
      id: 'continue-button',
      "data-debounce-timeout": httpTimeout,
      "data-pc-module": "pc-timeout-button"
    }
  }) }}
{% endblock %}
