{% extends "layouts/form-journey.njk" %}

{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block casaPageTitle %}
  {{ t("check-your-answers:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: t('error:summary.h1'),
      descriptionText: t(error)
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ t("check-your-answers:pageTitle") }}</h1>

  {% for section in sections %}
    <h2 class="govuk-heading-l">{{ section.heading }}</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-6',
      rows: section.rows
    }) }}
  {% endfor %}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-l">{{ t("check-your-answers:declaration.heading") }}</h2>
  <ul class="govuk-body">
    {{ t("check-your-answers:declaration.bullets_html") | safe }}
  </ul>
  <p class="govuk-body govuk-!-font-weight-bold">
    {{ t("check-your-answers:declaration.information") }}
  </p>

  {{ govukButton({
    attributes: {
      id: 'continue-button'
    },
    text: formButtonText
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script{%- if nonce %} nonce="{{ nonce }}"{% endif -%}>
    function debounceHTTP(event) {
      if (this.debounceFormSubmitTimer) {
        event.preventDefault()
        return false
      }

      this.debounceFormSubmitTimer = setTimeout(function () {
        this.debounceFormSubmitTimer = null
      }.bind(this), {{ httpTimeout }} * 1000)
    }

    var $submit = document.getElementById('continue-button')

    $submit.removeEventListener('click', GOVUKFrontend.Button.prototype.debounce)
    $submit.addEventListener('click', debounceHTTP)
  </script>
{% endblock %}
