{% extends "layouts/main.njk" %}

{% from "components/panel/macro.njk" import govukPanel %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block casaPageTitle %}
  {{ t("what-happens-next:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: t("what-happens-next:panelTitle")
      }) }}

      <!-- What happens next -->
      <h2 class="govuk-heading-l govuk-!-margin-top-8">
        {{ t("what-happens-next:section.whatHappensNext.heading") }}
      </h2>
      <p class="govuk-body">
        {% if ownsAdditionalProperty %}
          {{ t("what-happens-next:section.whatHappensNext.leadParaPropertyHtml", contactDate) | safe }}
        {% else %}
          {{ t("what-happens-next:section.whatHappensNext.leadParaDefaultHtml", contactDate) | safe }}
        {% endif %}
      </p>

      <h3 class="govuk-heading-m">{{ t('what-happens-next:section.whatHappensNext.subHeadingSuccess') }}</h3>
      <p class="govuk-body">
        {{ t('what-happens-next:section.whatHappensNext.paraSuccess') }}
      </p>

      <h3 class="govuk-heading-m">{{ t('what-happens-next:section.whatHappensNext.subHeadingChanges') }}</h3>
      <p class="govuk-body">
        {{ t('what-happens-next:section.whatHappensNext.paraChangesHtml') | safe }}
      </p>


      <!-- Housing Benefit -->
      <h2 class="govuk-heading-l">{{ t('what-happens-next:section.housingBenefit.heading') }}</h2>
      <p class="govuk-body">
        {{ t('what-happens-next:section.housingBenefit.para') }}
      </p>


      <!-- Council Tax Reduction -->
      <h2 class="govuk-heading-l">{{ t('what-happens-next:section.councilTaxReduction.heading') }}</h2>
      <p class="govuk-body">
        {{ t('what-happens-next:section.councilTaxReduction.para') }}
      </p>


      <!-- Carer’s Allowance -->
      <h2 class="govuk-heading-l">{{ t('what-happens-next:section.carersAllowance.heading') }}</h2>
      <p class="govuk-body">
        {{ t('what-happens-next:section.carersAllowance.paraHtml') | safe }}
      </p>


      <!-- Survey -->
      <h3 class="govuk-heading-m">{{ t('what-happens-next:section.survey.heading') }}</h3>
      <p class="govuk-body">
        <a href="{{ feedbackSurveyUrl }}" target="_blank" rel="noopener noreferrer" class="govuk-link">{{ t('what-happens-next:section.survey.linkLabel') }}</a>
      </p>
    </div>
  </div>
{% endblock %}
