<div class="govuk-grid-row pc-assisted-digital">
  <div class="govuk-grid-column-two-thirds">
    <aside class="govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">{{ t('common:assistedDigital.getHelp') }}</h2>
      {% if isNorthernIrelandClaim %}
        <dl class="govuk-body contact-numbers">
          <div>
            <dt>{{ t('common:assistedDigital.telephone') }}</dt>
            <dd>{{ t('common:northernIreland.assistedDigital.telephoneNumber') }}</dd>
          </div>
          <div>
            <dt>{{ t('common:assistedDigital.textphone') }}</dt>
            <dd>{{ t('common:northernIreland.assistedDigital.textphoneNumber') }}</dd>
          </div>
        </dl>
        <p class="govuk-body">
          <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank" rel="noopener noreferrer">
            {{ t('common:northernIreland.assistedDigital.contacting0803Numbers') }}
          </a>
        </p>
      {% else %}
        <dl class="govuk-body contact-numbers">
          <div>
            <dt>{{ t('common:assistedDigital.telephone') }}</dt>
            <dd>{{ t('common:assistedDigital.telephoneNumber') }}</dd>
          </div>
          <div>
            <dt>{{ t('common:assistedDigital.textphone') }}</dt>
            <dd>{{ t('common:assistedDigital.textphoneNumber') }}</dd>
          </div>
        </dl>
        <p class="govuk-body">
          {{ t('common:assistedDigital.cannotHearOrSpeak') | safe }}
        </p>
        <p class="govuk-body">
          {{ t('common:assistedDigital.findOutMoreAboutCallCharges') | safe }}
        </p>
      {% endif %}
    </aside>
  </div>
</div>
