{% extends "layouts/main.njk" %}

{% block casaPageTitle %}
  Sorry, there is a problem with the service
{% endblock %}

{% block beforeContent %}
  {% set phaseBannerContent %}
    This is a new service – your <a class="govuk-link" href="{{ feedbackSurveyUrl }}" target="_blank" rel="noopener noreferrer">feedback</a> will help us to improve it.
  {% endset %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: phaseBannerContent
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sorry, there is a problem with the service
      </h1>
      <p class="govuk-body">
        Try again in a few moments.
      </p>
      <p class="govuk-body">
        You can <a class="govuk-link" href="https://www.gov.uk/pension-credit/how-to-claim">apply another way</a> if the problem continues.
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        href: accessibilityStatementUrl,
        text: "Accessibility statement"
      }, {
        href: cookiePolicyUrl,
        text: "Cookies"
      }, {
        href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
        text: "Personal Information Charter (opens in a new window or tab)",
        attributes: {
          target: "_blank",
          rel: "noopener noreferrer"
        }
      }]
    }
  }) }}
{% endblock %}
