{% extends "layouts/main.njk" %}

{% block casaPageTitle %}
  Something’s gone wrong
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Something’s gone wrong
  </h1>

  <p class="govuk-body">
    The service is temporarily unavailable.
  </p>
{% endblock %}
