{% extends "casa/layouts/main.njk" %}

{% from "components/footer/macro.njk" import govukFooter %}

{% block head %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-script.njk" %}
  {%- endif %}
  {% include "partials/styles.njk" %}
{% endblock %}

{% block bodyStart %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-noscript.njk" %}
  {%- endif %}
  {% if cookieMessage === "unset" or cookieChoiceMade %}
    {% include "partials/cookie-message.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {% include "casa/partials/scripts.njk" %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        href: accessibilityStatementUrl,
        text: t('common:footer.accessibilityStatement')
      }, {
        href: cookiePolicyUrl,
        text: t('common:footer.cookies')
      }]
    }
  }) }}
{% endblock %}
