{% extends "casa/layouts/main.njk" %}

{% from "components/footer/macro.njk" import govukFooter %}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "hmrc/components/timeout-dialog/macro.njk" import hmrcTimeoutDialog %}

{% block head %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-script.njk" %}
  {%- endif %}
  {% include "partials/styles.njk" %}

  {# Session timeout dialog #}
  {{ hmrcTimeoutDialog ({
    timeout: timeoutDialog.timeout,
    countdown: timeoutDialog.countdown,
    keepAliveUrl: timeoutDialog.keepAliveUrl,
    signOutUrl: timeoutDialog.signOutUrl,
    timeoutUrl: timeoutDialog.timeoutUrl,
    message: t("common:timeout.message"),
    keepAliveButtonText: t("common:timeout.keepAliveButton"),
    signOutButtonText: t("common:timeout.deleteYourAnswers"),
    language: locale
  }) }}
{% endblock %}

{# Clearing bodyStart block so default cookie message does not show #}
{% block bodyStart %}{% endblock %}

{% block header %}
  {%- if cookieMessage === "accept" -%}
    {% include "partials/gtm-noscript.njk" %}
  {%- endif %}
  {% if cookieMessage === "unset" or cookieChoiceMade %}
    {% include "partials/cookie-message.njk" %}
  {% endif %}

  {% include "partials/header.njk" %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: t("common:phaseBanner", { url: feedbackSurveyUrl })
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% include "partials/scripts.njk" %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [{
        href: accessibilityStatementUrl,
        text: t("common:footer.accessibilityStatement")
      }, {
        href: cookiePolicyUrl,
        text: t("common:footer.cookies")
      }, {
        href: "https://www.communities-ni.gov.uk/sites/default/files/publications/communities/dfc-gdpr-privacy-notice-wig.pdf",
        text: t("common:northernIreland.footer.personalInformationCharter"),
        attributes: {
          target: "_blank",
          rel: "noopener noreferrer"
        }
      } if isNorthernIrelandClaim else {
        href: t("common:footer.personalInformationCharterHref"),
        text: t("common:footer.personalInformationCharter"),
        attributes: {
          target: "_blank",
          rel: "noopener noreferrer"
        }
      }]
    }
  }) }}
{% endblock %}
