{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("letters-home:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "sendLettersToHome",
    fieldset: {
      legend: {
        text: t("letters-home:pageTitle"),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "yes",
      text: t("letters-home:field.sendLettersToHome.options.yes")
    }, {
      value: "no",
      text: t("letters-home:field.sendLettersToHome.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.sendLettersToHome,
    casaErrors: formErrors
  }) }}
{% endblock %}
