{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("rent-council-tax-rates:" + northernIrelandPrefix + "pageTitle" + claimType) }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "responsibleForCouncilTax",
    fieldset: {
      legend: {
        text: t("rent-council-tax-rates:" + northernIrelandPrefix + "pageTitle" + claimType),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: t("rent-council-tax-rates:" + northernIrelandPrefix + "field.responsibleForCouncilTax.hint")
    },
    items: [{
      value: "yes",
      text: t("rent-council-tax-rates:field.responsibleForCouncilTax.options.yes")
    }, {
      value: "no",
      text: t("rent-council-tax-rates:field.responsibleForCouncilTax.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.responsibleForCouncilTax,
    casaErrors: formErrors
  }) }}
{% endblock %}
