{% extends "layouts/form-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("service-charges:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {% set serviceChargesHint %}
    <p class="govuk-hint govuk-!-margin-top-0">
      {{ t("service-charges:field.paysServiceCharges.hint.chargesInclude") }}
    </p>
    <ul class="govuk-hint govuk-list govuk-list--bullet">
      <li>{{ t("service-charges:field.paysServiceCharges.hint.wardenServices") }}</li>
      <li>{{ t("service-charges:field.paysServiceCharges.hint.caretakerServices") }}</li>
      <li>{{ t("service-charges:field.paysServiceCharges.hint.laundry") }}</li>
      <li>{{ t("service-charges:field.paysServiceCharges.hint.communalAreas") }}</li>
    </ul>
  {% endset %}

  {{ casaGovukRadios({
    name: "paysServiceCharges",
    fieldset: {
      legend: {
        text: t("service-charges:pageTitle"),
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    },
    hint: {
      html: serviceChargesHint
    },
    items: [{
      value: "yes",
      text: t("service-charges:field.paysServiceCharges.options.yes")
    }, {
      value: "no",
      text: t("service-charges:field.paysServiceCharges.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.paysServiceCharges,
    casaErrors: formErrors
  }) }}
{% endblock %}
