{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% set pageTitle = t("share-rent-mortgage:pageTitle" + paymentType + claimType) %}

{% block casaPageTitle %}
  {{ pageTitle }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "shareRentMortgage",
    fieldset: {
      legend: {
        text: pageTitle,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "yes",
      text: t("share-rent-mortgage:field.shareRentMortgage.options.yes")
    }, {
      value: "no",
      text: t("share-rent-mortgage:field.shareRentMortgage.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.shareRentMortgage,
    casaErrors: formErrors
  }) }}
{% endblock %}
