.contact-numbers dt, dd {
  display: inline-block;
  margin: 0;
}
.contact-numbers dt::after {
  content: ': ';
}

.date-nowrap {
  white-space: nowrap;
}

/* Cookie banner */
.casa-cookie-banner {
  background: #f3f2f1;
}
.casa-cookie-banner--main,
.casa-cookie-banner--accept,
.casa-cookie-banner--reject {
  margin-bottom: 0;
}
.casa-hidden {
  display: none;
}
.casa-cookie-banner form {
  display: inline;
}
.casa-cookie-banner--reject:focus,
.casa-cookie-banner--accept:focus {
  outline: none;
}
.casa-cookie-banner--reject p,
.casa-cookie-banner--accept p,
.casa-cookie-banner--hide {
  display: inline-block;
}
.casa-cookie-banner--hide {
  float: none;
}

@media (min-width: 840px) {
  .casa-cookie-banner--hide {
    float: right;
    margin-right: 30px;
    width: auto;
  }
}

@media print {
  @page {
    size: A4;
    margin: 15mm;
  }

  .govuk-width-container  {
    margin: 0;
  }

  .govuk-phase-banner, .govuk-back-link, .govuk-footer, .govuk-button, .govuk-summary-list__actions, .govuk-panel, .print-hidden {
    display: none;
  }

  .govuk-grid-column-two-thirds {
    width: 100% !important;
    float: none;
    display: block;
  }

  /* Use desktop layout for summary list */
  .govuk-summary-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 30px;
  }
  .govuk-summary-list__row {
    display: table-row;
  }
  .govuk-summary-list__key,
  .govuk-summary-list__value {
    display: table-cell;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6
  }
  .govuk-summary-list__key {
    width: 30%;
  }
  .govuk-summary-list__value {
    width: 50%;
  }
  .govuk-summary-list__value:last-child {
    width: 70%;
  }
}