{% extends "layouts/form-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
  {{ t("claimant-details:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t("claimant-details:pageTitle") }}
  </h1>

  {{ casaGovukInput({
    name: "contactTelephone",
    classes: "govuk-input--width-10",
    label: {
      text: t("claimant-details:field.contactTelephone.label"),
      classes: "govuk-label--m"
    },
    value: formData.contactTelephone,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "registeredBlind",
    fieldset: {
      legend: {
        text: t("claimant-details:field.registeredBlind.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("claimant-details:field.registeredBlind.options.yes")
    }, {
      value: "no",
      text: t("claimant-details:field.registeredBlind.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.registeredBlind,
    casaErrors: formErrors
  }) }}

  {% set preferredLanguageOther %}
    {{ casaGovukInput({
      name: "preferredLanguageOther",
      classes: "govuk-input--width-20",
      label: {
        text: t("claimant-details:field.preferredLanguageOther.label"),
        classes: "govuk-label--m"
      },
      value: formData.preferredLanguageOther,
      casaErrors: formErrors
    }) }}
  {% endset %}


  {# The "Welsh" option is only shown for people living in Wales #}
  {% set languageOptions = [{
    value: "english",
    text: t("claimant-details:field.preferredLanguage.options.english")
  }, {
    value: "other",
    text: t("claimant-details:field.preferredLanguage.options.other"),
    conditional: {
      html: preferredLanguageOther
    }
  }] %}

  {% if countryOfResidence == 'WALES' %}
    {% set languageOptions = ( languageOptions.splice(1, 0, {
      value: "welsh",
      text: t("claimant-details:field.preferredLanguage.options.welsh")
    }), languageOptions ) %}
  {% endif %}


  {{ casaGovukRadios({
    name: "preferredLanguage",
    fieldset: {
      legend: {
        text: t("claimant-details:field.preferredLanguage.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: languageOptions,
    casaWithAnalytics: true,
    casaValue: formData.preferredLanguage,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "helpWithLettersPhone",
    fieldset: {
      legend: {
        text: t("claimant-details:field.helpWithLettersPhone.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("claimant-details:field.helpWithLettersPhone.options.yes")
    }, {
      value: "no",
      text: t("claimant-details:field.helpWithLettersPhone.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.helpWithLettersPhone,
    casaErrors: formErrors
  }) }}
{% endblock %}
