{% extends "layouts/form-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
  {{ t("claimant-details:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t("claimant-details:pageTitle") }}
  </h1>

  {{ casaGovukRadios({
    name: "helpWithLettersPhone",
    fieldset: {
      legend: {
        text: t("claimant-details:field.helpWithLettersPhone.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("claimant-details:field.helpWithLettersPhone.options.yes")
    }, {
      value: "no",
      text: t("claimant-details:field.helpWithLettersPhone.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.helpWithLettersPhone,
    casaErrors: formErrors
  }) }}
{% endblock %}
