{% extends "layouts/form-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
  {{ t(pageTitleKey) }} - {{ t('common:serviceName') }}
{% endblock %}

{% block journey_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if formErrorsGovukArray %}
        {{ govukErrorSummary({
          titleText: t("error:summary.h1"),
          errorList: formErrorsGovukArray
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ t(pageTitleKey) }}
      </h1>

      {% call casaJourneyForm({
        csrfToken: casa.csrfToken,
        inEditMode: inEditMode,
        editOriginUrl: editOriginUrl,
        casaMountUrl: casa.mountUrl,
        buttonBarHidden: true
      }) %}
        {{ casaGovukInput({
          name: "postcode",
          value: formData.postcode,
          classes: "govuk-input--width-10",
          label: {
            html: t('postcode:field.postcode.label')
          },
          casaErrors: formErrors
        }) }}

        {{ govukButton({
          attributes: {
            id: 'continue-button'
          },
          text: t('postcode:submit'),
          preventDoubleClick: true
        }) }}

        <p class="govuk-body">
          <a class="govuk-link" href="{{ manualAddressUrl }}">
            {{ t(manualEntryKey) }}
          </a>
        </p>
      {% endcall %}
    </div>
  </div>
{% endblock %}
