{% extends "layouts/form-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "components/button/macro.njk" import govukButton %}

{% set msgSuffix = msgSuffix or '' %}

{% block casaPageTitle %}
  {{ t(pageTitleKey + msgSuffix) }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukInput({
    name: "postcode",
    classes: "govuk-input--width-10",
    label: {
      text: t(pageTitleKey + msgSuffix),
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    value: formData.postcode,
    casaErrors: formErrors
  }) }}
{% endblock %}

{% block journey_button %}
  {{ govukButton({
    text: t("postcode:submit"),
    preventDoubleClick: true,
    attributes: {
      id: "continue-button"
    }
  }) }}

  <p class="govuk-body">
    <a class="govuk-link" href="{{ manualAddressUrl }}">
      {{ t("postcode:enterManually") }}
    </a>
  </p>
{% endblock %}
