{% extends "layouts/form-journey.njk" %}

{% from "components/select/macro.njk" import govukSelect %}

{% block casaPageTitle %}
  {{ t(pageTitleKey) }} - {{ t('common:serviceName') }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t(pageTitleKey) }}
  </h1>

  <dl class="govuk-list contact-numbers govuk-!-margin-bottom-8">
    <dt class="govuk-!-font-weight-bold">{{ t('select-address:postcode') }}</dt>
    <dd>{{ postcode }}</dd>
    <dd class="govuk-!-width-full">
      <a class="govuk-link" href="{{ changePostcodeUrl }}">
        {{ t('select-address:change') | safe }}
      </a>
    </dd>
  </dl>

  {{ govukSelect({
    id: "f-uprn",
    name: "uprn",
    label: {
      text: t('select-address:field.address.label')
    },
    items: addresses,
    errorMessage: {
      text: t(formErrors.uprn[0].inline)
    } if formErrors.uprn.length
  }) }}
{% endblock %}

{% block journey_form_footer %}
  <p class="govuk-body">
    <a class="govuk-link" href="{{ manualAddressUrl }}">
      {{ t(manualEntryKey) }}
    </a>
  </p>
{% endblock %}
