{% extends "layouts/form-journey.njk" %}

{% from 'components/button/macro.njk' import govukButton %}

{% set mainClasses %}{{ mainClasses }} govuk-main-wrapper--l{% endset %}

{% block pageTitle %}
  {{ t('session-timeout:pageTitle') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t('session-timeout:heading') }}</h1>

      <p class="govuk-body">{{ t('session-timeout:body', {sessionTtl: sessionTtl}) }}</p>

      {{ govukButton({
        text: t('session-timeout:startAgain'),
        href: casa.mountUrl
      }) }}
    </div>
  </div>
{% endblock %}
