{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
  {{ t("earnings:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t("earnings:pageTitle") }}
  </h1>

  {{ casaGovukRadios({
    name: "hasEmploymentIncome",
    fieldset: {
      legend: {
        text: t("earnings:field.hasEmploymentIncome.legend" + claimType),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("earnings:field.hasEmploymentIncome.options.yes")
    }, {
      value: "no",
      text: t("earnings:field.hasEmploymentIncome.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.hasEmploymentIncome,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "hasSelfEmploymentIncome",
    fieldset: {
      legend: {
        text: t("earnings:field.hasSelfEmploymentIncome.legend" + claimType + selfEmployedSuffix, {
          selfEmployedEarningsDate: selfEmployedEarningsDate
        }),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("earnings:field.hasSelfEmploymentIncome.options.yes" + selfEmployedSuffix)
    }, {
      value: "no",
      text: t("earnings:field.hasSelfEmploymentIncome.options.no" + selfEmployedSuffix)
    }],
    casaWithAnalytics: true,
    casaValue: formData.hasSelfEmploymentIncome,
    casaErrors: formErrors
  }) }}
{% endblock %}
