{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/textarea/macro.njk" import casaGovukTextarea with context %}

{% block casaPageTitle %}
  {{ t("private-pensions:pageTitle" + claimType) }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {% set privatePensionDetails %}
    {{ casaGovukTextarea({
      name: "privatePensionDetails",
      label: {
        text: t("private-pensions:field.privatePensionDetails.label"),
        classes: "govuk-label--s"
      },
      hint: {
        text: t("private-pensions:field.privatePensionDetails.hint")
      },
      value: formData.privatePensionDetails,
      casaErrors: formErrors
    }) }}
  {% endset %}

  {{ casaGovukRadios({
    name: "hasPrivatePensions",
    fieldset: {
      legend: {
        text: t("private-pensions:pageTitle" + claimType),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "yes",
      text: t("private-pensions:field.hasPrivatePensions.options.yes"),
      conditional: {
        html: privatePensionDetails
      }
    }, {
      value: "no",
      text: t("private-pensions:field.hasPrivatePensions.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.hasPrivatePensions,
    casaErrors: formErrors
  }) }}
{% endblock %}
