{% extends "layouts/form-journey.njk" %}

{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("partner-asylum-seeker:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukRadios({
    name: "partnerAsylumSeeker",
    fieldset: {
      legend: {
        text: t("partner-asylum-seeker:pageTitle"),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
      value: "yes",
      text: t("partner-asylum-seeker:field.partnerAsylumSeeker.options.yes"),
      conditional: {
        html: isAsylumSeeker
      }
    }, {
      value: "no",
      text: t("partner-asylum-seeker:field.partnerAsylumSeeker.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.partnerAsylumSeeker,
    casaErrors: formErrors
  }) }}
{% endblock %}
