{% extends "layouts/form-journey.njk" %}

{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("partner-asylum-application:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  {% set partnerSuccessfulDecisionDate %}
    {{ casaGovukDateInput({
      namePrefix: "partnerSuccessfulDecisionDate",
      fieldset: {
        legend: {
          text: t("partner-asylum-application:field.partnerSuccessfulDecisionDate.legend"),
          classes: "govuk-fieldset__legend--m"
        }
      },
      casaErrors: formErrors,
      casaValue: formData.partnerSuccessfulDecisionDate
    }) }}
  {% endset %}

  <h1 class="govuk-heading-xl">
    {{ t("partner-asylum-application:pageTitle") }}
  </h1>

  {{ casaGovukRadios({
    name: "partnerAsylumBefore3April2000",
    fieldset: {
      legend: {
        text: t("partner-asylum-application:field.partnerAsylumBefore3April2000.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("partner-asylum-application:field.partnerAsylumBefore3April2000.options.yes")
    }, {
      value: "no",
      text: t("partner-asylum-application:field.partnerAsylumBefore3April2000.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.partnerAsylumBefore3April2000,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "partnerSuccessfulDecision",
    fieldset: {
      legend: {
        text: t("partner-asylum-application:field.partnerSuccessfulDecision.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("partner-asylum-application:field.partnerSuccessfulDecision.options.yes"),
      conditional: {
        html: partnerSuccessfulDecisionDate
      }
    }, {
      value: "no",
      text: t("partner-asylum-application:field.partnerSuccessfulDecision.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.partnerSuccessfulDecision,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "partnerSupportedByHomeOffice",
    fieldset: {
      legend: {
        text: t("partner-asylum-application:field.partnerSupportedByHomeOffice.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("partner-asylum-application:field.partnerSupportedByHomeOffice.options.yes")
    }, {
      value: "no",
      text: t("partner-asylum-application:field.partnerSupportedByHomeOffice.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.partnerSupportedByHomeOffice,
    casaErrors: formErrors
  }) }}
{% endblock %}
