{% extends "layouts/form-journey.njk" %}

{% block casaPageTitle %}
  {{ t("done-partner:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ t("done-partner:pageTitle") }}
      </h1>
      <p class="govuk-body-l">
        {{ t("done-partner:bothYouAndYourPartner") }}
      </p>
      <h2 class="govuk-heading-m">
        {{ t("common:applyForUniversalCredit") }}
      </h2>
      <dl class="govuk-list contact-numbers">
        <div>
          <dt>{{ t("common:telephone") }}</dt>
          <dd>{{ t("common:ucTelephoneNumber") }}</dd>
        </div>
        <div>
          <dt>{{ t("common:textphone") }}</dt>
          <dd>{{ t("common:ucTextphoneNumber") }}</dd>
        </div>
      </dl>
      <p class="govuk-body">
        {{ t("common:ucCallTimes") | safe }}
      </p>
      <h2 class="govuk-heading-m govuk-!-width-two-thirds">
        {{ t("common:pensionCreditClaimLine") }}
      </h2>
      <dl class="govuk-list contact-numbers">
        <div>
          <dt>{{ t("common:telephone") }}</dt>
          <dd>{{ t("common:telephoneNumber") }}</dd>
        </div>
        <div>
          <dt>{{ t("common:textphone") }}</dt>
          <dd>{{ t("common:textphoneNumber") }}</dd>
        </div>
      </dl>
      <p class="govuk-body">
        {{ t("common:callTimes") | safe }}
      </p>
      <h2 class="govuk-heading-m">
        {{ t("common:helpUsImprove") }}
      </h2>
      <p class="govuk-body">
        <a class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/764a559b/" target="_blank">
          {{ t("common:takeSurvey") }}
        </a>
      </p>
    </div>
  </div>
{% endblock %}
