{% extends "layouts/form-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t("your-nationality:pageTitle") }} - {{ t("common:serviceName") }}
{% endblock %}

{% block journey_form %}
  <h1 class="govuk-heading-xl">
    {{ t("your-nationality:pageTitle") }}
  </h1>

  {{ casaGovukRadios({
    name: "rightToReside",
    fieldset: {
      legend: {
        text: t("your-nationality:field.rightToReside.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: t("your-nationality:field.rightToReside.hint")
    },
    items: [{
      value: "yes",
      text: t("your-nationality:field.rightToReside.options.yes")
    }, {
      value: "no",
      text: t("your-nationality:field.rightToReside.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.rightToReside,
    casaErrors: formErrors
  }) }}

  {{ casaGovukRadios({
    name: "lived2Years",
    fieldset: {
      legend: {
        text: t("your-nationality:field.lived2Years.legend"),
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [{
      value: "yes",
      text: t("your-nationality:field.lived2Years.options.yes")
    }, {
      value: "no",
      text: t("your-nationality:field.lived2Years.options.no")
    }],
    casaWithAnalytics: true,
    casaValue: formData.lived2Years,
    casaErrors: formErrors
  }) }}
{% endblock %}
