{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{# Add question/answer data attributes to checkbox items #}
{% set mergedItems = [] %}
{% for item in params.items %}
  {% set item = mergeObjects(item, {
    attributes: {
      'data-ga-question': params.fieldset.legend.text or params.fieldset.legend.html,
      'data-ga-answer': item.text or item.html
    }
  }) %}
  {% set mergedItems = (mergedItems.push(item), mergedItems) %}
{% endfor %}

{# Merge parameters #}
{% set mergedParams = mergeObjects(params, {
  items: mergedItems
}) %}

{{ casaGovukRadios(mergedParams) }}
